<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Extract.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Extract.Properties.Settings>
            <setting name="VueConStr2" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Persist Security Info=True;Password=Bgt56yhN;User ID=cssql2017;Server=pmssqlc1\app;Database=Apps;</value>
            </setting>
        </Extract.Properties.Settings>
    </userSettings>
</configuration>